.container
  %h3 Welcome to D3 examples
  %ul
    %li= link_to "2016 US Elections Pie Chart", action: "show", id: "elections_2016"
    %li= link_to "Population of EU Countries Bar Chart", action: "show", id: "eu_population"
